.listItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: rgb(219, 212, 212);
    margin: 8px 0;
    padding: 0 8px;
}

.listItemsActions {
    display: flex;
    gap: 8px;
}