.modalContainer {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 5;
    display: grid;
    place-items: center;
    background-color: rgb(151, 137, 137);

}

.modalChildren {
    position: relative;
    padding: 32px;
    background-color: rgb(171, 137, 137);
}

.modalCloseIcon {
    position: absolute;
    right: 16px;
    top: 16px;
}